.allTasks {
    &-header {
        font-size: 34px;
        line-height: 1.3;
        margin: 0px;
        color: inherit;
        box-sizing: border-box;
        -webkit-box-flex: 0;
        flex-grow: 0;
        font-family: "Greycliff CF", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-weight: 900;
    }
    &-noTasks {
        margin: 20px auto;
        font-size: 20px;
        color: #a6a0a0;
    }
}