.modal{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    &-container {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 432px;
        padding: 0 0 20px 0;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        color: black;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25), inset -3px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
    }
    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    &-button {
        margin-top: auto;
    }
  }